body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Board style */
.board {
  margin-left: auto;
  margin-right: auto;
}
.creature {
  float: left;
  background-color: black;
  color: white;
  padding: 6px;
  border: 1px grey solid;
}
.generation-0 {
  background-color: white
}
.generation-1 {
  background-color: grey
}
.generation-2 {
  background-color: dark
}

/* Form style */
.error {
  color: red
}

.panel .panel-heading a[role='tab'] {
  cursor: pointer
}