body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Board style */
.board {
  margin-left: auto;
  margin-right: auto;
}
.creature {
  float: left;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
}
.creature-annotation {
  width: 1em;
  height: 1em;
  float: none !important;
  display: inline-block;
}
.generation-0 {
  background-color: lightgrey
}
.generation-1 {
  background-color: green
}
.generation-2 {
  background-color: black
}

.cellsize-16 {
  width: 16px;
  height: 16px;
  border-top: 1px white solid;
  border-left: 1px white solid;  
}
.cellsize-8 {
  width: 8px;
  height: 8px;
  border-top: 1px white solid;
  border-left: 1px white solid;    
}
.cellsize-6 {
  width: 6px;
  height: 6px;
}
.cellsize-4 {
  width: 4px;
  height: 4px;
}
.cellsize-2 {
  width: 2px;
  height: 2px;
}

/* Form style */
.error {
  color: red
}

.panel .panel-heading a[role='tab'] {
  cursor: pointer
}

.explanation {
  color: grey
}